<div class="container">
    <h1>Welcome to My Portfolio!</h1>
    <p>
        My name is Gail Fike. I am a mid level software engineer who 
        loves to solve complex problems, and troubleshoot applications. 
        My primary languages are Java (and Spring), and Python but am also familar with 
        C#, SQL (MySQL, PostgreSQL, MS Server SQL), Java/Typescript, and Angular. 
        Since I started in tech in 2017, I have worked with large enterprise 
        applications on Agile teams (Srum, SAFe), and have experience using tools like New Relic, Splunk,
        Checkmarx, Jenkins, Jira, Rally, and Confluence. Below is a link to my LinkedIn,
        and some of my personal projects. Thank you for stopping by!
    </p>
    <a href="https://www.linkedin.com/in/gailfike1248/">LinkedIn Profile</a>
</div>